@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Ancizar Serif", serif;
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 805px;
    margin: 0px;
    padding: 0px;
    background-image: url(images/ia.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;  
}

.header {
    background-color: #4e2809;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li {
    margin: 40px;
    float: left;
}

.search {
    margin-right: 20px;
}

.title {
    margin: 0px;
    font-size: 40px;
    font-weight: bold;
}

.article {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.6);
    width: 500px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.footer{
    height: 70px;
    background-color: #b56e36;
    display: flex;
}

.contact{
    margin: 20px;
    padding: 0px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
}

.social {
    width: 150px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.espaco {
    height: 35px;
    width: 5px;
    background-color: #ffffff;
}

#logo {
    display: flex;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
    margin-left: 20px;
}